.board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 40px;
    justify-content: center;
}
  
.card {
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    cursor: pointer;
    padding: 2em;
    
}

  
.card-img {
    width: 150%;
}
  
.card-back {
    color: #333;
}
  