.card-game{
    display: flex;
    justify-content: center;
}
.card-list{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 20px;
}
.card-front{
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 5px;   
}
.flipped{
    background-color: rgb(178, 176, 180);
}