.footer {
    position: fixed; 
    bottom: 0;      
    left: 0;        
    width: 100%;    
    background-color: #ec80cc; 
    color: rgb(0, 0, 0);    
    text-align: center; 
    padding: 10px 0; 
    color: white;
}
